{% load static %}
<aside class="main-sidebar sidebar-dark-info elevation-4">
    {% if request.user.user_type == '1' %}
    <!-- Brand Logo -->
    <a href="{% url 'admin_home' %}" class="brand-link" >
        <img src="{% static 'dist/img/sk.png' %} " alt="SK Academy"
                                    class="brand-image " style="opacity: .8">
        <span class="brand-text font-weight-bold" >SK Academy</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="{{ request.user.profile_pic}}" class="img-circle elevation-2" >
            </div>
            <div class="info">
                <a href="#" class="d-block" style="color: black;">{{user}}</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                <li class="nav-item">
                    {% url 'admin_home' as admin_home %}
                    <a href="{{admin_home}}" class="nav-link {% if admin_home == request.path %} active {% endif %}">
                        <i class="nav-icon fas fa-home"></i>
                        <p>
                            Home

                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    {% url 'admin_view_profile' as admin_view_profile %}
                    <a href="{{admin_view_profile}}"
                        class="nav-link {% if admin_view_profile == request.path %} active {% endif %}">
                        <i class="nav-icon fas fa-address-card"></i>
                        <p>
                            Update Profile

                        </p>
                    </a>
                </li>

                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link" >
                        <i class="nav-icon fas fa-bookmark"></i>
                        <p>
                            Staff
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            {% url 'add_staff' as add_staff %}
                            <a href="{{add_staff}}" class="nav-link {% if add_staff == request.path %} active {% endif %}">
                                <i class="nav-icon fas fa-user-plus"></i>
                                <p>
                                    Add Staff
        
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            {% url 'manage_staff' as manage_staff %}
                            {% url 'edit_staff' staff_id as edit_staff %}
                            <a href="{{manage_staff}}"
                                class="nav-link {% if manage_staff == request.path or request.path == edit_staff %} active {% endif %}">
                                <i class="nav-icon fas fa-book-reader"></i>
                                <p>
                                    Manage Staff
        
                                </p>
                            </a>
                        </li>

                    </ul>
                </li>

                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link" >
                        <i class="nav-icon fas fa-bookmark"></i>
                        <p>
                            Student
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">

                        <li class="nav-item">
                            {% url 'add_student' as add_student%}
                            <a href="{{add_student}}" class="nav-link  {% if add_student == request.path %} active {% endif %}">
                                <i class="nav-icon fas fa-user-graduate"></i>
                                <p>
                                    Add Student

                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            {% url 'manage_student' as manage_student %}
                            {% url 'edit_student' student_id as edit_student %}

                            <a href="{{manage_student}}"
                                class="nav-link  {% if edit_student == request.path or manage_student == request.path %} active {% endif %}">
                                <i class="nav-icon fas fa-book-reader"></i>
                                <p>
                                    Manage Student

                                </p>
                            </a>
                        </li>

                    </ul>
                </li>

                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link" >
                        <i class="nav-icon fas fa-bookmark"></i>
                        <p>
                            Notes
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">

                        <li class="nav-item">
                            {% url 'upload_staff_note' as upload_staff_note %}
                            <a href="{{upload_staff_note}}"
                                class="nav-link {% if upload_staff_note == request.path %} active {% endif %}">
                                <i class="nav-icon fas fa-upload"></i>
                                <p>
                                    Notes for Staff
                                </p>
                            </a>
                        </li>  
        
                        <li class="nav-item">
                            {% url 'manage_staff_notes' as manage_staff_notes %}
                            {% url 'edit_staff_notes' student_id as edit_staff_notes %}
        
                            <a href="{{manage_staff_notes}}"
                                class="nav-link  {% if edit_staff_notes == request.path or manage_staff_notes == request.path %} active {% endif %}">
                                <i class="nav-icon fas fa-edit"></i>
                                <p>
                                    Manage Staff Notes
        
                                </p>
                            </a>
                        </li>

                        <li class="nav-item">
                            {% url 'upload_note' as upload_note %}
                            <a href="{{upload_note}}"
                                class="nav-link {% if upload_note == request.path %} active {% endif %}">
                                <i class="nav-icon fas fa-upload"></i>
                                <p>
                                    Notes for Student
                                </p>
                            </a>
                        </li>   

                        <li class="nav-item">
                            {% url 'manage_notes' as manage_notes %}
                            {% url 'edit_notes' student_id as edit_notes %}

                            <a href="{{manage_notes}}"
                                class="nav-link  {% if edit_notes == request.path or manage_notes == request.path %} active {% endif %}">
                                <i class="nav-icon fas fa-edit"></i>
                                <p>
                                    Manage Student Notes

                                </p>
                            </a>
                        </li>

                    </ul>
                </li>

                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link" >
                        <i class="nav-icon fas fa-bookmark"></i>
                        <p>
                            Academic Calendar
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            {% url 'calendar' as calendar %}
                            <a href="{{calendar}}" class="nav-link {% if calendar == request.path %} active {% endif %}">
                                <i class="nav-icon fas fa-calendar"></i>
                                <p>
                                    View Calendar
        
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            {% url 'event_list' as event_list %}
                            {% url 'edit_staff' staff_id as edit_staff %}
                            <a href="{{event_list}}"
                                class="nav-link {% if event_list == request.path or request.path == edit_staff %} active {% endif %}">
                                <i class="nav-icon fas fa-book-reader"></i>
                                <p>
                                    Manage Event
        
                                </p>
                            </a>
                        </li>

                    </ul>
                </li>

                {% elif request.user.user_type == '2' %}
                <!-- Brand Logo -->
                <a href="#" class="brand-link" >
                    <img src="{% static 'dist/img/sk.png' %} " alt="SK Academy"
                    class="brand-image " style="opacity: .8">
                    <span class="brand-text font-weight-bold ">Staff Panel</span>
                </a>

                <!-- Sidebar -->
                <div class="sidebar">
                    <!-- Sidebar user panel (optional) -->
                    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                        <div class="image">
                            <img src="{{ request.user.profile_pic}}" class="img-circle elevation-2" >
                        </div>
                        <div class="info">
                            <a href="#" class="d-block font-weight-bold" style="color: black;">{{ user}}</a>
                        </div>
                    </div>

                    <!-- Sidebar Menu -->
                    <nav class="mt-2">
                        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                            data-accordion="false">

                            <li class="nav-item">
                                {% url 'staff_home' as staff_home %}
                                <a href="{{staff_home}}"
                                    class="nav-link {% if staff_home == request.path %} active {% endif %}">
                                    <i class="nav-icon fas fa-home"></i>
                                    <p>
                                        Home

                                    </p>
                                </a>
                            </li>

                            <li class="nav-item">
                                {% url 'staff_view_profile' as staff_view_profile %}
                                <a href="{{staff_view_profile}}"
                                    class="nav-link {% if staff_view_profile == request.path %} active {% endif %}">
                                    <i class="nav-icon fas fa-address-card"></i>
                                    <p>
                                        Update Profile

                                    </p>
                                </a>
                            </li>   
                            <li class="nav-item">
                                {% url 'view_staff_notes' as view_staff_notes %}
                                <a href="{{view_staff_notes}}"
                                    class="nav-link {% if view_staff_notes == request.path %} active {% endif %}">
                                    <i class="nav-icon fas 	fas fa-atlas"></i>
                                    <p>
                                        View Notes

                                    </p>
                                </a>
                            </li>       
                            
                            <li class="nav-item">
                                {% url 'calendarstaff' as calendarstaff %}
                                <a href="{{calendarstaff}}" class="nav-link {% if calendarstaff == request.path %} active {% endif %}">
                                    <i class="nav-icon fas fa-calendar"></i>
                                    <p>
                                        View Calendar
            
                                    </p>
                                </a>
                            </li>


                            {% else %}
                            <!-- Brand Logo -->
                            <a href="" class="brand-link" >
                                <img src="{% static 'dist/img/sk.png' %} " alt="SK Academy"
                                     class="brand-image " style="opacity: .8">
                                <span class="brand-text font-weight-bold ">Student Panel</span>
                            </a>

                            <!-- Sidebar -->
                            <div class="sidebar">
                                <!-- Sidebar user panel (optional) -->
                                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                                    <div class="image">
                                        <img src="{{ request.user.profile_pic}}" class="img-circle elevation-2" >
                                    </div>
                                    <div class="info">
                                        <a href="#" class="d-block font-weight-bold" style="color: black;">{{user}}</a>
                                    </div>
                                </div>

                                <!-- Sidebar Menu -->
                                <nav class="mt-2">
                                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                                        data-accordion="false">

                                        <li class="nav-item">
                                            {% url 'student_home' as student_home %}
                                            <a href="{{student_home}}"
                                                class="nav-link {% if student_home == request.path %} active {% endif %}">
                                                <i class="nav-icon fas fa-home"></i>
                                                <p>
                                                    Home

                                                </p>
                                            </a>
                                        </li>

                                        <li class="nav-item">
                                            {% url 'student_view_profile' as student_view_profile %}
                                            <a href="{{student_view_profile}}"
                                                class="nav-link {% if student_view_profile == request.path %} active {% endif %}">
                                                <i class="nav-icon fas fa-address-card"></i>
                                                <p>
                                                    Update Profile

                                                </p>
                                            </a>
                                        </li>

                                        <li class="nav-item">
                                            {% url 'view_notes' as view_notes %}
                                            <a href="{{view_notes}}"
                                                class="nav-link {% if view_notes == request.path %} active {% endif %}">
                                                <i class="nav-icon fas 	fas fa-atlas"></i>
                                                <p>
                                                    View Notes

                                                </p>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            {% url 'calendarstudent' as calendarstudent %}
                                            <a href="{{calendarstudent}}" class="nav-link {% if calendarstudent == request.path %} active {% endif %}">
                                                <i class="nav-icon fas fa-calendar"></i>
                                                <p>
                                                    View Calendar
                        
                                                </p>
                                            </a>
                                        </li>
                                        
                                        {% endif %}
                                    </ul>
                                </nav>
                                <!-- /.sidebar-menu -->
                            </div>
                            <!-- /.sidebar -->
</aside>