{% extends 'main_app/base.html' %}
{% load static %}
{% block page_title %}Notes{% endblock page_title %}
{% block content %}
<style>
    /* This style will apply only on devices with a maximum width of 768 pixels (mobile view) */
    @media (max-width: 768px) {
        .card-body {
            -ms-flex: 1 1 auto;
            flex: 1 1 auto;
            padding: 1.25rem;
            overflow-x: auto;
        }
    }
</style>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-dark">
                    <div class="card-header">
                      <h3 class="card-title">{{ page_title }}</h3>
                    </div>

                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="card-body" style="overflow-x: auto;"></div>

                        <div class="form-group">
                            <input type="text" id="search-input" class="form-control" placeholder="Search notes">
                        </div>

                        <div class="form-group table">
                            <table class="table table-bordered" id="notes-table">
                                <tr>
                                    <th>Sr.No</th>
                                    <th>Notes Name</th>
                                    <th>Description</th>
                                    <th>Uploaded By</th>
                                    <th>Actions</th>
                                </tr>
                                {% for note in notes %}
                                {% if user.student.grade in note.grade.all and user.student.board in note.board.all and user.student.stream in note.stream.all %}
                                <tr>
                                    <td>{{ forloop.counter }}.</td>
                                    <td>{{ note.title }}</td>
                                    <td>{{ note.description }}</td>
                                    <td>{{ note.uploaded_by }}</td>
                                    <td>
                                        <a class="note-download-link" href="{{ note.file.url }}">Download {{ note.file.name|slice:'-3:' }}</a>
                                    </td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                            </table>
                        </div>

                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
</section>

<script>
    // JavaScript for filtering table data based on search input
    const searchInput = document.getElementById('search-input');
    const notesTable = document.getElementById('notes-table');
    const tableRows = notesTable.getElementsByTagName('tr');

    searchInput.addEventListener('input', function() {
        const searchQuery = searchInput.value.trim().toLowerCase();

        for (let i = 1; i < tableRows.length; i++) {
            const noteName = tableRows[i].getElementsByTagName('td')[1].innerText.toLowerCase();

            if (noteName.includes(searchQuery)) {
                tableRows[i].style.display = '';
            } else {
                tableRows[i].style.display = 'none';
            }
        }
    });
</script>

{% endblock content %}
